@charset "UTF-8";
/*..........Reset..................................*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.historiaimg .main-historia, .historiaimg .main-historia .h1-historia, .historiaimg .main-historia .contenedor, .recitalesimg .contenedor-padre-recitales .main-reci, .videosimg .main-videos .videos-contenedor, .discografiaimg .contenedor-padre-discografia main .titulosdiscografia, .discografiaimg .contenedor-padre-discografia main .contdiscos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.homepagina .contenedor-padre .section-index .titulo-index, .homepagina .contenedor-padre .main-index .parrafo-index, .historiaimg .main-historia .h1-historia, .historiaimg .main-historia .h1-historia .intengrantes, .historiaimg .main-historia .contenedor .parrafo-historia, .recitalesimg .contenedor-padre-recitales .main-reci .h1-recital, .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table thead tr, .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table tbody tr, .recitalesimg .contenedor-padre-recitales .main-reci .entradas-h2, .videosimg .main-videos .videos-contenedor .h1-videos, .videosimg .main-videos .videos-contenedor .h2-intro-videos, .videosimg .main-videos .videos-contenedor .h2-recital, .discografiaimg .contenedor-padre-discografia main .titulosdiscografia .titulo-discografia, .discografiaimg .contenedor-padre-discografia main .contdiscos .discos, .discografiaimg .contenedor-padre-discografia main .contdiscos nav ol {
  font-family: 'Shadows Into Light', cursive; }

/*...............html index.................*/
.homepagina {
  margin-top: 5rem;
  background-image: url("../img/DD-Top-Banner-2016.jpg");
  height: 100vh; }
  .homepagina .contenedor-padre .head-index-grid .header-index-mobile .container-fluid .logochico {
    width: 40%; }
  .homepagina .contenedor-padre .head-index-grid .header-index {
    display: none; }
  .homepagina .contenedor-padre .section-index .titulo-index {
    color: rgba(166, 167, 145, 0.836);
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    /*..........Animacion h1 cuando arranca pagina*/
    animation-name: animacionh1;
    animation-iteration-count: initial;
    /*cuantas veces se repetirá*/
    animation-duration: 4s;
    /*la duración que tendrá*/ }

@keyframes animacionh1 {
  0% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
  .homepagina .contenedor-padre .main-index {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px; }
    .homepagina .contenedor-padre .main-index .contenedor-imagen-index {
      width: auto;
      height: auto;
      align-items: center; }
    .homepagina .contenedor-padre .main-index .parrafo-index {
      color: rgba(175, 176, 161, 0.836);
      font-weight: 600;
      margin-left: 10px; }

/*..........Media queries en tablet*................. */
@media screen and (min-width: 768px) {
  .homepagina {
    margin-top: 3rem; }
    .homepagina .contenedor-padre .head-index-grid .header-index-mobile {
      display: none; }
    .homepagina .contenedor-padre .head-index-grid .header-index {
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'Permanent Marker';
      font: size 0.5em; }
      .homepagina .contenedor-padre .head-index-grid .header-index .logochico {
        width: 50%; }
      .homepagina .contenedor-padre .head-index-grid .header-index nav .menu-index {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 2rem;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-shadow: 0px 0px 10px #7a7b34ea; }
    .homepagina .contenedor-padre .section-index .titulo-index {
      font-size: 2.3rem; }
    .homepagina .contenedor-padre .main-index {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .homepagina .contenedor-padre .main-index .contenedor-imagen-index {
        display: flex;
        width: 80%; } }

/*..........Media queries en desktop*.................  */
@media screen and (min-width: 1024px) {
  .homepagina {
    margin-top: 0.5rem; }
    .homepagina .contenedor-padre {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas: "header-home"  "h1-home"      "main-home"       "footer-home";
      /*footer index*/ }
      .homepagina .contenedor-padre .header-homee {
        grid-area: header-home;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .homepagina .contenedor-padre .header-homee .header-index {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .homepagina .contenedor-padre .header-homee .header-index .logochico {
            width: 70%;
            padding-left: 2rem; }
          .homepagina .contenedor-padre .header-homee .header-index nav .menu-index {
            display: flex;
            font-size: 1.5rem;
            align-items: center;
            justify-items: center;
            margin-right: 5rem;
            font-family: 'Permanent Marker';
            list-style: none;
            gap: 1rem; }
      .homepagina .contenedor-padre .main-homee {
        grid-area: main-home; }
        .homepagina .contenedor-padre .main-homee .contenedor-imagen-index {
          border-radius: 2rem;
          box-shadow: 7px 3px 9px  #5c5936; }
        .homepagina .contenedor-padre .main-homee .parrafo-index {
          margin-bottom: 5rem;
          font-size: 1.5rem;
          background-color: rgba(20, 17, 17, 0.92);
          border-radius: 2rem;
          box-shadow: 7px 3px 9px #5c5936;
          padding-bottom: 0.1rem;
          padding: 2rem;
          margin-bottom: 1.5rem; }
      .homepagina .contenedor-padre .section-index {
        grid-area: h1-home; }
        .homepagina .contenedor-padre .section-index .titulo-index {
          font-size: 3rem; }
      .homepagina .contenedor-padre .footer-homee {
        grid-area: footer-home; } }

footer {
  background-color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem;
  gap: 1rem;
  /*texto de footer*/
  /*iconos del footer*/ }
  footer .footerfin {
    color: rgba(202, 204, 136, 0.836);
    font-size: 1.2rem; }
  footer .iconos-footer {
    width: 1.5rem; }

.historiaimg .main-historia, .historiaimg .main-historia .h1-historia, .historiaimg .main-historia .contenedor, .recitalesimg .contenedor-padre-recitales .main-reci, .videosimg .main-videos .videos-contenedor, .discografiaimg .contenedor-padre-discografia main .titulosdiscografia, .discografiaimg .contenedor-padre-discografia main .contdiscos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.homepagina .contenedor-padre .section-index .titulo-index, .homepagina .contenedor-padre .main-index .parrafo-index, .historiaimg .main-historia .h1-historia, .historiaimg .main-historia .h1-historia .intengrantes, .historiaimg .main-historia .contenedor .parrafo-historia, .recitalesimg .contenedor-padre-recitales .main-reci .h1-recital, .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table thead tr, .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table tbody tr, .recitalesimg .contenedor-padre-recitales .main-reci .entradas-h2, .videosimg .main-videos .videos-contenedor .h1-videos, .videosimg .main-videos .videos-contenedor .h2-intro-videos, .videosimg .main-videos .videos-contenedor .h2-recital, .discografiaimg .contenedor-padre-discografia main .titulosdiscografia .titulo-discografia, .discografiaimg .contenedor-padre-discografia main .contdiscos .discos, .discografiaimg .contenedor-padre-discografia main .contdiscos nav ol {
  font-family: 'Shadows Into Light', cursive; }

/*...........html Historia...................*/
.historiaimg {
  background: black;
  background: linear-gradient(193deg, rgba(0, 0, 0, 0.919622) 4%, #0b0c19 14%, #090a14 49%);
  margin-top: 5rem; }
  .historiaimg header .header-historia-mobile nav .historianav .logochico {
    width: 40%; }
  .historiaimg header .header-historia {
    display: none; }
  .historiaimg .main-historia .h1-historia .intro-historia {
    display: none;
    margin: 2rem 3rem;
    color: #f7f7ef;
    font-size: 1.5rem; }
  .historiaimg .main-historia .h1-historia .intengrantes {
    text-decoration: underline;
    margin-bottom: 2rem;
    color: #f7f7ef;
    text-shadow: 0px 0px 9px #508AD3; }
  .historiaimg .main-historia .contenedor {
    border-bottom: 3px solid #f7f7ef;
    border-width: 2px;
    width: 80%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem; }
    .historiaimg .main-historia .contenedor .contenedor-imagen-historia {
      width: 80%;
      border-radius: 2rem;
      box-shadow: 10px 10px 20px;
      border-color: aliceblue; }
    .historiaimg .main-historia .contenedor .parrafo-historia {
      margin: 2rem 1.5rem;
      color: #f7f7ef; }

@media screen and (min-width: 768px) {
  .historiaimg {
    margin-top: 3rem; }
    .historiaimg header .header-historia-mobile {
      display: none; }
    .historiaimg header .header-historia {
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'Permanent Marker';
      font: size 0.5em; }
      .historiaimg header .header-historia .logochico {
        width: 50%; }
      .historiaimg header .header-historia .menu-index {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 2rem;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-shadow: 0px 0px 10px #7a7b34ea; }
    .historiaimg .main-historia .h1-historia .intro-historia {
      display: block; }
    .historiaimg .main-historia .contenedor .parrafo-historia {
      font-size: 1.5rem;
      margin-left: 9rem;
      margin-right: 8rem; }
    .historiaimg .main-historia .contenedor .contenedor-imagen-historia {
      height: 500px;
      width: 500px; } }

@media screen and (min-width: 1024px) {
  .historiaimg {
    margin-top: 0.5rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: "header-his header-his" "main-his main-his" "footer-his footer-his"; }
    .historiaimg header .header-historia {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      grid-area: header-his; }
      .historiaimg header .header-historia .logochico {
        width: 70%;
        padding-left: 3rem; }
      .historiaimg header .header-historia nav .menu-index {
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        justify-items: center;
        margin-right: 5rem;
        font-family: 'Permanent Marker';
        list-style: none;
        gap: 1rem; }
    .historiaimg .main-historia {
      grid-area: main-his; }
      .historiaimg .main-historia .contenedor {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2rem; }
        .historiaimg .main-historia .contenedor .contenedor-imagen-historia {
          height: 500px;
          width: 500px; }
        .historiaimg .main-historia .contenedor .parrafo-historia {
          width: 40%;
          height: 100%; }
    .historiaimg .footer-historia {
      grid-area: footer-his; } }

.historiaimg .main-historia, .historiaimg .main-historia .h1-historia, .historiaimg .main-historia .contenedor, .recitalesimg .contenedor-padre-recitales .main-reci, .videosimg .main-videos .videos-contenedor, .discografiaimg .contenedor-padre-discografia main .titulosdiscografia, .discografiaimg .contenedor-padre-discografia main .contdiscos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.homepagina .contenedor-padre .section-index .titulo-index, .homepagina .contenedor-padre .main-index .parrafo-index, .historiaimg .main-historia .h1-historia, .historiaimg .main-historia .h1-historia .intengrantes, .historiaimg .main-historia .contenedor .parrafo-historia, .recitalesimg .contenedor-padre-recitales .main-reci .h1-recital, .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table thead tr, .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table tbody tr, .recitalesimg .contenedor-padre-recitales .main-reci .entradas-h2, .videosimg .main-videos .videos-contenedor .h1-videos, .videosimg .main-videos .videos-contenedor .h2-intro-videos, .videosimg .main-videos .videos-contenedor .h2-recital, .discografiaimg .contenedor-padre-discografia main .titulosdiscografia .titulo-discografia, .discografiaimg .contenedor-padre-discografia main .contdiscos .discos, .discografiaimg .contenedor-padre-discografia main .contdiscos nav ol {
  font-family: 'Shadows Into Light', cursive; }

.recitalesimg {
  background-image: url(../img/recitales.jpg);
  opacity: 90%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin-top: 5rem; }
  .recitalesimg .contenedor-padre-recitales {
    height: 100vh; }
    .recitalesimg .contenedor-padre-recitales .header-recitales .header-reci-mobile nav .container-fluid .logochico {
      width: 40%; }
    .recitalesimg .contenedor-padre-recitales .header-recitales .header-reci {
      display: none; }
    .recitalesimg .contenedor-padre-recitales .main-reci .h1-recital {
      text-decoration: underline;
      margin-bottom: 2rem;
      color: #100f0b;
      text-shadow: 0px 0px 9px #508AD3;
      padding-left: 2.5rem;
      padding-right: 2.5rem; }
    .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci {
      background-color: rgba(220, 128, 232, 0.582);
      padding: 2rem 0.7rem;
      margin: 0.2rem;
      border-radius: 2rem;
      box-shadow: 10px 10px 20px;
      border-color: aliceblue; }
      .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table thead tr {
        color: rgba(1, 0, 8, 0.677);
        font-size: 1.5rem; }
      .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table tbody tr {
        color: rgba(1, 0, 8, 0.677);
        font-size: 1.2rem; }
    .recitalesimg .contenedor-padre-recitales .main-reci .entradas-h2 {
      color: aliceblue;
      padding-left: 0.3rem; }

@media screen and (min-width: 768px) {
  .recitalesimg {
    margin-top: 3rem; }
    .recitalesimg .contenedor-padre-recitales .header-recitales .header-reci-mobile {
      display: none; }
    .recitalesimg .contenedor-padre-recitales .header-recitales .header-reci {
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'Permanent Marker';
      font: size 0.5em; }
      .recitalesimg .contenedor-padre-recitales .header-recitales .header-reci nav .menu-recital {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 2rem;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-shadow: 0px 0px 10px #7a7b34ea; }
      .recitalesimg .contenedor-padre-recitales .header-recitales .header-reci .logochico {
        width: 50%; }
    .recitalesimg .contenedor-padre-recitales .main-reci .entradas-h2 {
      color: black;
      text-shadow: 2px 2px 2px;
      margin-top: 2rem; } }

@media screen and (min-width: 1024px) {
  /*..........Estructura html recitales con grid desktop*/
  .recitalesimg {
    margin-top: 0.5rem; }
    .recitalesimg .contenedor-padre-recitales {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas: "header-re header-re" "main-re main-re" "section-re section-re" "footerr-re footerr-re"; }
      .recitalesimg .contenedor-padre-recitales .header-recitales .header-reci {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        grid-area: header-re; }
        .recitalesimg .contenedor-padre-recitales .header-recitales .header-reci nav .menu-recital {
          display: flex;
          font-size: 1.5rem;
          align-items: center;
          justify-items: center;
          margin-right: 5rem;
          font-family: 'Permanent Marker';
          list-style: none;
          gap: 1rem; }
        .recitalesimg .contenedor-padre-recitales .header-recitales .header-reci .logochico {
          width: 70%;
          padding-left: 3rem; }
      .recitalesimg .contenedor-padre-recitales .main-reci {
        grid-area: main-re; }
        .recitalesimg .contenedor-padre-recitales .main-reci .entradas-h2 {
          color: rgba(250, 250, 250, 0.885);
          text-shadow: 2px 2px 2px; }
      .recitalesimg .contenedor-padre-recitales .section-reci {
        grid-area: section-re; }
      .recitalesimg .contenedor-padre-recitales .footer-reci {
        grid-area: footerr-re; } }

.historiaimg .main-historia, .historiaimg .main-historia .h1-historia, .historiaimg .main-historia .contenedor, .recitalesimg .contenedor-padre-recitales .main-reci, .videosimg .main-videos .videos-contenedor, .discografiaimg .contenedor-padre-discografia main .titulosdiscografia, .discografiaimg .contenedor-padre-discografia main .contdiscos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.homepagina .contenedor-padre .section-index .titulo-index, .homepagina .contenedor-padre .main-index .parrafo-index, .historiaimg .main-historia .h1-historia, .historiaimg .main-historia .h1-historia .intengrantes, .historiaimg .main-historia .contenedor .parrafo-historia, .recitalesimg .contenedor-padre-recitales .main-reci .h1-recital, .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table thead tr, .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table tbody tr, .recitalesimg .contenedor-padre-recitales .main-reci .entradas-h2, .videosimg .main-videos .videos-contenedor .h1-videos, .videosimg .main-videos .videos-contenedor .h2-intro-videos, .videosimg .main-videos .videos-contenedor .h2-recital, .discografiaimg .contenedor-padre-discografia main .titulosdiscografia .titulo-discografia, .discografiaimg .contenedor-padre-discografia main .contdiscos .discos, .discografiaimg .contenedor-padre-discografia main .contdiscos nav ol {
  font-family: 'Shadows Into Light', cursive; }

.videosimg {
  background: #231b33;
  background: radial-gradient(circle, #231b33 67%, #0c0a12 97%);
  border-radius: 1rem;
  box-shadow: 10px 16px 40px;
  margin-top: 5rem; }
  .videosimg header .header-index-mobile nav .container-fluid .logochico {
    width: 40%; }
  .videosimg header .header-videos {
    display: none; }
  .videosimg .main-videos .barra {
    border-bottom: 3px solid #f7f7ef;
    border-width: 2px;
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto; }
  .videosimg .main-videos .videos-contenedor .h1-videos {
    color: #f7f7ef;
    text-decoration: underline;
    font-size: 2rem;
    text-shadow: 0px 0px 9px #508AD3;
    font-weight: 900; }
  .videosimg .main-videos .videos-contenedor .h2-intro-videos {
    color: #f7f7ef;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 3rem 2rem 8rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 5px 9px #d0bbde; }
  .videosimg .main-videos .videos-contenedor .h2-recital {
    color: #f7f7ef;
    text-shadow: 0px 0px 9px #508AD3;
    font-size: 1.5rem;
    font-weight: 600; }
  .videosimg .main-videos .videos-contenedor .contenedor-video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
    box-sizing: border-box; }
    .videosimg .main-videos .videos-contenedor .contenedor-video .video {
      border-radius: 1rem;
      box-shadow: 10px 16px 40px;
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 90%;
      height: 90%; }

@media screen and (min-width: 768px) {
  .videosimg {
    margin-top: 3rem; }
    .videosimg header .header-index-mobile {
      display: none; }
    .videosimg header .header-videos {
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'Permanent Marker';
      font: size 0.5em; }
      .videosimg header .header-videos .logochico {
        width: 50%; }
      .videosimg header .header-videos .menu-index {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 2rem;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-shadow: 0px 0px 10px #7a7b34ea; }
    .videosimg .main-videos .videos-contenedor .contenedor-video .video {
      position: absolute;
      top: 2rem;
      left: 2.5rem; } }

@media screen and (min-width: 1024px) {
  .videosimg {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header-v" "main-v" "footer-v"; }
    .videosimg header .header-videos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      grid-area: header-v; }
      .videosimg header .header-videos .logochico {
        width: 70%;
        padding-left: 3rem; }
      .videosimg header .header-videos nav .menu-index {
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        justify-items: center;
        margin-right: 5rem;
        font-family: 'Permanent Marker';
        list-style: none;
        gap: 1rem; }
    .videosimg .main-videos {
      grid-area: main-v; }
      .videosimg .main-videos .videos-contenedor {
        justify-content: center;
        align-items: center; }
        .videosimg .main-videos .videos-contenedor .contenedor-video .video {
          position: absolute;
          top: 2rem;
          left: 3.2rem; }
  .footer-videos {
    grid-area: footer-v;
    margin-top: 10rem; } }

.historiaimg .main-historia, .historiaimg .main-historia .h1-historia, .historiaimg .main-historia .contenedor, .recitalesimg .contenedor-padre-recitales .main-reci, .videosimg .main-videos .videos-contenedor, .discografiaimg .contenedor-padre-discografia main .titulosdiscografia, .discografiaimg .contenedor-padre-discografia main .contdiscos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.homepagina .contenedor-padre .section-index .titulo-index, .homepagina .contenedor-padre .main-index .parrafo-index, .historiaimg .main-historia .h1-historia, .historiaimg .main-historia .h1-historia .intengrantes, .historiaimg .main-historia .contenedor .parrafo-historia, .recitalesimg .contenedor-padre-recitales .main-reci .h1-recital, .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table thead tr, .recitalesimg .contenedor-padre-recitales .main-reci .tabla-reci table tbody tr, .recitalesimg .contenedor-padre-recitales .main-reci .entradas-h2, .videosimg .main-videos .videos-contenedor .h1-videos, .videosimg .main-videos .videos-contenedor .h2-intro-videos, .videosimg .main-videos .videos-contenedor .h2-recital, .discografiaimg .contenedor-padre-discografia main .titulosdiscografia .titulo-discografia, .discografiaimg .contenedor-padre-discografia main .contdiscos .discos, .discografiaimg .contenedor-padre-discografia main .contdiscos nav ol {
  font-family: 'Shadows Into Light', cursive; }

/*...........html discografia...................*/
.discografiaimg {
  background: #231b33;
  background: radial-gradient(circle, #231b33 67%, #0c0a12 97%);
  border-radius: 1rem;
  box-shadow: 10px 16px 40px; }
  .discografiaimg .contenedor-padre-discografia header .header-index-mobile nav .container-fluid .logochico {
    width: 40%; }
  .discografiaimg .contenedor-padre-discografia header .header-discografia {
    grid-area: header-dis;
    display: none; }
  .discografiaimg .contenedor-padre-discografia main .barra {
    border-bottom: 3px solid #f7f7ef;
    border-width: 2px;
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto; }
  .discografiaimg .contenedor-padre-discografia main .titulosdiscografia {
    grid-area: h12-dis; }
    .discografiaimg .contenedor-padre-discografia main .titulosdiscografia .titulo-discografia {
      color: #f7f7ef;
      text-decoration: underline;
      font-size: 2.5rem;
      padding-top: 4rem;
      padding-bottom: 2rem;
      font-weight: 800; }
  .discografiaimg .contenedor-padre-discografia main .contdiscos {
    grid-area: discos-dis; }
    .discografiaimg .contenedor-padre-discografia main .contdiscos .discos {
      color: #f7f7ef;
      margin-left: 2rem;
      margin-right: 1rem;
      padding-bottom: 1rem;
      font-weight: 600; }
    .discografiaimg .contenedor-padre-discografia main .contdiscos .discos-img {
      width: 70%;
      border-radius: 2rem;
      box-shadow: 7px 3px 9px #d0bbde;
      padding-bottom: 0.1rem;
      margin-bottom: 1.5rem; }
    .discografiaimg .contenedor-padre-discografia main .contdiscos nav ol {
      color: #f7f7ef;
      font-size: 1.5rem; }
      .discografiaimg .contenedor-padre-discografia main .contdiscos nav ol li {
        color: azure;
        font-size: 1rem;
        font-weight: 600; }
  .discografiaimg .contenedor-padre-discografia .footer-discografia {
    grid-area: footer-disco; }

@media screen and (min-width: 768px) {
  .discografiaimg {
    margin-top: 3rem; }
    .discografiaimg .contenedor-padre-discografia header .header-index-mobile {
      display: none; }
    .discografiaimg .contenedor-padre-discografia header .header-discografia {
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'Permanent Marker';
      font: size 0.5em; }
      .discografiaimg .contenedor-padre-discografia header .header-discografia .logochico {
        width: 50%; }
      .discografiaimg .contenedor-padre-discografia header .header-discografia nav .menu-index {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 2rem;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-shadow: 0px 0px 10px #7a7b34ea; }
    .discografiaimg .contenedor-padre-discografia main .titulosdiscografia .titulo-discografia {
      padding-top: 2rem; }
    .discografiaimg .contenedor-padre-discografia main .contdiscos .discos-img {
      width: 50%; } }

@media screen and (min-width: 1024px) {
  .discografiaimg {
    margin-top: 0.5rem; }
    .discografiaimg .contenedor-padre-discografia {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header-dis" "h12-dis" "discos-dis" "footer-disco"; }
      .discografiaimg .contenedor-padre-discografia header .header-discografia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem; }
        .discografiaimg .contenedor-padre-discografia header .header-discografia .logochico {
          width: 70%;
          padding-left: 3rem; }
        .discografiaimg .contenedor-padre-discografia header .header-discografia nav .menu-index {
          display: flex;
          font-size: 1.5rem;
          align-items: center;
          justify-items: center;
          margin-right: 5rem;
          font-family: 'Permanent Marker';
          list-style: none;
          gap: 1rem; }
      .discografiaimg .contenedor-padre-discografia main .contdiscos .discos-img {
        width: 40%; } }

li a {
  text-decoration: none;
  color: #dbc222; }

a:visited {
  color: #dbc222;
  text-decoration: none; }

.ani-boton:hover {
  transform: scale(1.1);
  filter: drop-shadow(8px 15px 10px); }
