/*..........Reset..................................*/
*{
      margin:0; 
      padding:0;
      box-sizing:border-box;
}
/*.....................ESTILOS HTML DEL INDEX......................*/
/*............................................................*/

/*..........Fondo de index.........................*/
       .homepagina {
            margin-top: 6rem;
            background-image:url("../img/DD-Top-Banner-2016.jpg");
            height:100vh;
            
            }
/*..........Estilos de header menu.................*/
            /*Logo del menu*/
            .logo{
              width:40% ;
                  }
                  .header-index{display: none;}
      .header-index-mobile{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 1.2rem;
            }
            
/*..........Estilo menu los botones............*/
            .menu-index  {
            color: rgb(205, 252, 255);
            font-family: 'Permanent Marker';
            list-style: none; /* Sacarle los puntitos al menu list-style none*/
            font-size:1rem;
            display: flex;
            align-items: center;
            gap: 1rem;   
            margin-right: 1rem ;
      }
            
/*..........Animacion botones........................*/
            .ani-boton:hover{
                  transform: scale(1.1);
                  filter: drop-shadow(8px 15px 10px);
              }
            /*Quitar hipervinculo violeta*/
              a:link{
                  text-decoration: none;
                  }
              a:visited {
                  color:rgba(245, 229, 125, 0.148);
                  text-decoration: none; }
                

/*..........Estilos main y section......................*/
      
            
      .main-index{
            display: flex;
            flex-direction:column-reverse ;
            margin: 20px;
            gap: 20px;
                  }
               .contenedor-imagen-index{
                  width: auto;
                  height: auto;
                                      }
               .parrafo-index{
                  color:rgba(166, 167, 145, 0.836);
                  font-family: 'Permanent Marker', cursive;
                  margin-left: 10px;    
                       }
/*..........estilos h1 titulo*/
      .titulo-index {
            color:rgba(166, 167, 145, 0.836); 
            text-decoration:underline;
            font-size:1.5rem;
            text-align: center;
/*..........Animacion h1 cuando arranca pagina*/
            animation-name:animacionh1;
            animation-iteration-count: initial; /*cuantas veces se repetirá*/
            animation-duration:4s;    /*la duración que tendrá*/ 
               } 
            @keyframes animacionh1{   
               0%    {    
               transform: scale(0.8);
                    }
               100%{    
               transform: scale(1);
                    }              }
                  
/*..........Estilos footer ......................*/
      footer{
            background-color: rgb(8, 8, 8);
            display: flex;
            
            justify-content: center;
            align-items: center;
            margin-top:3rem ;
            padding:3rem 1rem 3rem 2rem;
            gap: 1rem;
            }
            /*texto de footer*/
            .footerfin{
            color:rgba(202, 204, 136, 0.836);
            font-size: 1.2rem;     
                        }
            /*iconos del footer*/
            .iconos-footer{
            width:1.5rem ;
                        }
/*..........Media queries en desktop*.................*/

            @media screen and (min-width:1024px){
/*..........Estructura html index con grid desktop*/
            .header-index-mobile{display: none;}
            .homepagina{margin:2rem;}
            .contenedor-padre{
            
            display: grid;
            grid-template-rows:auto; 
            grid-template-columns:auto;
            grid-template-areas: 
            "header header"
            "h1 h1"
            "main main"
            "footerr footerr";} 

/*..........Estilos header desktop.................*/
            .header-index{display: block;
             display: flex;
             justify-content:space-between;
             align-items:center;

            }
      .head-index-grid{
            grid-area:header;
            display: flex;
            flex-direction: row;
            align-items: center;
       
          
            

            }
            .menu-index{
                  font-size: 1.5rem;
                  align-items: center;
                  justify-items: center;
                  margin-right: 5rem;
            }
/*..........Estilos section y main desktop.................*/      
      .section-index{
                  grid-area:h1;
                  display: flex;
                 align-items:start;
                  margin: 20px;
            }

      .main-index{
                  grid-area:main;
                  display: flex;
                  flex-direction: row;
                  } 
                 .contenedor-imagen-index{
                  width: 40em;
                  height: 30em;
                  
                 }
/*..........Estilos footer media desktop.................*/            
      .footer-index{
            grid-area:footerr;
                        }
            /*texto de footer*/
            .footerfin{
             color:rgba(202, 204, 136, 0.836); 
             font-size: 25px;    
                  }
            /*iconos del footer*/
             .iconos-footer{
              width:2rem ;
                  }
      }





/*..........ESTILOS HTML RECITALES..........................*/
/*.......................................................*/
/*...............estilos header........................*/
    .contenedor-padre-recitales{
      height:100vh;
                              }
            .header-reci{
            display: none;
                        }
            .recitalesimg {
               margin-top: 6rem;
               background-image: url(../img/recitales.jpg);
               background-size: cover;
               height: 100vh;
      
      
                  } 
            /*Logo del menu*/
            .logochico{
                  width:40% ;
                      }
                      /*estilo boton*/
                     

    .boton-recital:hover { transform: scale(8.3);
      filter: drop-shadow(8px 15px 10px)}
    .boton-recital{color:rgb(64, 21, 21) !important}
   
    
/*...............estilos main........................*/      
      main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

      }

      .entradas{
            text-align: center;
      }
     .footer-reci{
      display: flex;
      padding-left: 0.6rem;
      padding-right:0.6rem ;
      

     }
      .footerfin{font-size:1rem ;}
      .entradas-h2{
            color: aliceblue;
            padding-left: 0.3rem;
      
      }


/*..........estilo de formulario.........................*/
            .formulario-estilo{
                  margin: 20px;
                  padding: 10px;
                  font-size: 22px;
                  color: rgb(181, 240, 241);
                        }

            @media screen and (min-width:1024px){
      /*..........Estructura html recitales con grid desktop*/
                 .recitalesimg{
                  margin-top: 2px;
                 }
                  .botones-recitales{
                        display: none;
                  }  
                  .menu-botones-index{
                        display:block;
                  }                 
                  .contenedor-padre-recitales{
                   display: grid;
                        grid-template-rows:auto; 
                        grid-template-columns:auto;
                        grid-template-areas: 
                        "header-re header-re"
                        "main-re main-re"
                        "section-re section-re"
                        "footerr-re footerr-re";} 
                                              
                         .header-reci{grid-area: header-re;
                              display: flex;
                              flex-direction: row;
                              justify-content: space-around;
                              align-items: center;
                              
                         }           
                        .main-reci{
                              grid-area: main-re;
                              display: flex;
                              flex-direction: column;
                        }
                        .section-reci{grid-area: section-re;

                        }
                        .footer-reci{grid-area: footerr-re;
                              margin-top:0.5rem;
                        }
                        
                        }
/*..........ESTILOS HTML DISCOGRAFIA..........................*/
/*.......................................................*/
             .discografiaimg {
                  background-color: rgba(0, 0, 0, 0.913); 
                  padding-top:2rem ;                              }
     /*................estilos main.................*/

            .titulosdiscografia{
                  display: flex;
                  flex-direction: column;
                  color:rgba(202, 204, 136, 0.836);
                  padding-top:2.5rem ;
                              }
            .titulo-discografia{
                  
                   padding-bottom:2rem ;
                   font-size: 3rem;
                                    }
            .contdiscos{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 2rem;
                  color:rgba(202, 204, 136, 0.836);
            }
            .disco-end-of-grey{
                  width: 40%;
            }
   /*..........ESTILOS HTML HISTORIA..........................*/         
            .historiaimg {
                  background-color: black;
                   }
            /*Estilos main*/
            .intengrantes{
                  padding: 2.5rem 0.5rem;
                  color:rgba(202, 204, 136, 0.836);
            }
            .contenedor{
                  display: flex;
                  flex-direction: column-reverse;
                  align-items: center;
                  padding: 2rem;
                  gap: 2rem;
                  color:rgba(202, 204, 136, 0.836); 
            }
            .contenedor-imagen{
                  width: 80%;
            }
            @media screen and (min-width:1024px){
                  .contenedor-imagen{
                        width: 40%;
                  }
            }
/*..........ESTILOS HTML VIDEOS..........................*/
            .videosimg {
                  background-color: black;
                        }   
            /*ESTILOS MAIN*/            
            .videoscontenedor{
                  
                  padding-top: 3rem;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  color:rgba(202, 204, 136, 0.836);
            }
            .contenedor-video{
                  padding-top: 1rem;
                 
            }
