li {a{
    text-decoration: none;
    }}
 a:visited {
    color:rgba(245, 229, 125, 0.148);
    text-decoration: none; }
    .ani-boton:hover{
        transform: scale(1.1);
        filter: drop-shadow(8px 15px 10px);
           }