li {a{
    text-decoration: none;
    color:rgb(172, 156, 51);
    }}
 a:visited {
    color:rgb(172, 156, 51);
    text-decoration: none; }
    .ani-boton:hover{
        transform: scale(1.1);
        filter: drop-shadow(8px 15px 10px);
           }