@import"mixin/botones-flex";
@import"var/logo-var";
@import"extend/extend.scss";
/*...........html discografia...................*/
.discografiaimg {
                    background: rgb(35,27,51);
                    background: radial-gradient(circle, rgba(35,27,51,1) 67%, rgba(12,10,18,1) 97%);
                    
                    border-radius: 1rem;
                    box-shadow: 10px 16px 40px;
        

   .contenedor-padre-discografia{
        
            header{
                .header-index-mobile{
                    nav{
                        .container-fluid{
                            .logochico{
                                width:$logomobile ;
                                                }
                                            }
                                        }}
                .header-discografia{grid-area:header-dis; display:none;
                            }
                     }
            main{
                .barra{border-bottom: 3px solid $color-principal-texto;
                    border-width: 2px;
                    width: 80%;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                    margin-left: auto;
                    margin-right: auto;}
                .titulosdiscografia{
                    @extend %flexcolun;
                    grid-area:h12-dis;
                    .titulo-discografia{
                        @extend %texto-historia;
                        color:$color-principal-texto;
                        text-decoration: underline;
                        font-size:2.5rem ;
                        padding-top: 4rem;
                        padding-bottom:2rem ;
                        font-weight: 800;
                                     }
                                 
                } 
                .contdiscos{
                    @extend %flexcolun;

                    grid-area:discos-dis;
                    .discos{@extend %texto-historia;
                        color:$color-principal-texto;
                        margin-left:2rem;
                        margin-right: 1rem;
                        padding-bottom: 1rem;
                        font-weight: 600;
                                }    
                        .discos-img{
                            width: 70%;
                            border-radius: 2rem;
                            box-shadow: 7px 3px 9px #d0bbde;
                            padding-bottom:0.1rem ;
                            margin-bottom: 1.5rem;
                              }  
                         nav{
                            ol {@extend %texto-historia;
                                color:$color-principal-texto;
                                font-size:1.5rem ;
                                li{color: azure;
                                font-size: 1rem;
                                font-weight: 600;}
                               }  
                            }   
                        
                 }
            }
          .footer-discografia {grid-area:footer-disco;}

    }
}
     @media screen and (min-width:768px){
        .discografiaimg{margin-top: 3rem;
        .contenedor-padre-discografia{
            
                header{
                    .header-index-mobile{display: none;}
                    .header-discografia {@include header-tablet;
                    .logochico{width:$logotablet }
                    nav{
                        .menu-index{
                            @include menu-tablet;
                        }
                    }
                    }}
                main {
                    .titulosdiscografia{
                        .titulo-discografia{padding-top: 2rem;}
                    }
                    .contdiscos{
                    .discos-img{
                                width: 50%;
                            }
                        }
                    }
        } 
       }             
                    
    }
                

            @media screen and (min-width:1024px){
                .discografiaimg {margin-top: 0.5rem;
                    .contenedor-padre-discografia{
                        display: grid;
                        grid-template-columns:1fr;
                        grid-template-rows:1fr;
                        grid-template-areas:
                        "header-dis"  /*header-discografia*/
                        "h12-dis"        /*titulosdiscografia*/
                        "discos-dis"          /*contdiscos*/
                        "footer-disco" /*footer-discografia*/
                        ;

                        
                        header{
                            .header-index-mobile{}
                            .header-discografia{@include header-nav;
                                 .logochico{width:$logodestock;
                                            padding-left: 3rem; }
                                 nav{ .menu-index{@include flex-botones;}

                                        }           
                                }
                        }
                        main {
                            .contdiscos{
                                .discos-img{
                                    width: 40%;
                                }
                            }
                        }
                    }





                }





}