@import"mixin/botones-flex";
@import"var/logo-var";
@import"extend/extend.scss";
/*...........html discografia...................*/
.discografiaimg {
    background-color: rgba(0, 0, 0, 0.913); 
    margin-top: 5rem;
        

   .contenedor-padre-discografia{
        
            header{
                .header-index-mobile{
                    nav{
                        .container-fluid{
                            .logochico{
                                width:$logomobile ;
                                                }
                                            }
                                        }}
                .header-discografia{grid-area:header-dis; display:none;
                            }
                     }
            main{
                .titulosdiscografia{
                    @extend %flexcolun;
                    grid-area:h12-dis;
                    .titulo-discografia{
                        color: azure;
                        font-size:2.5rem ;
                        padding-bottom:2rem ;
                                     }
                    .discos{color: azure;
                            padding-bottom: 1rem;
                                    }                 
                } 
                .contdiscos{
                    @extend %flexcolun;

                    grid-area:discos-dis;
                        .disco-end-of-grey{
                            width: 70%;
                            border-radius: 2rem;
                            box-shadow: 10px 10px 20px;
                            border-color: aliceblue;
                            padding-bottom:0.5rem ;
                            margin-bottom: 1.5rem;
                              }  
                         nav{
                            ol {color: azure;
                                font-size:1.5rem ;
                                li{color: azure;
                                font-size: 1rem;}
                               }  
                            }   
                        
                 }
            }
          .footer-discografia {grid-area:footer-disco;}

    }
}
     @media screen and (min-width:768px){
        .discografiaimg{margin-top: 3rem;
        .contenedor-padre-discografia{
            
                header{
                    .header-index-mobile{display: none;}
                    .header-discografia {@include header-tablet;
                    .logochico{width:$logotablet }
                    nav{
                        .menu-index{
                            @include menu-tablet;
                        }
                    }
                    }
                        
                
                
                
                
                }
                    
                    
                    
                    
        } 
       }             
                    
    }
                

            @media screen and (min-width:1024px){
                .discografiaimg {margin-top: 0.5rem;
                    .contenedor-padre-discografia{
                        display: grid;
                        grid-template-columns:1fr;
                        grid-template-rows:1fr;
                        grid-template-areas:
                        "header-dis"  /*header-discografia*/
                        "h12-dis"        /*titulosdiscografia*/
                        "discos-dis"          /*contdiscos*/
                        "footer-disco" /*footer-discografia*/
                        ;

                        
                        header{
                            .header-index-mobile{}
                            .header-discografia{@include header-nav;
                                 .logochico{width:$logodestock;
                                            padding-left: 3rem; }
                                 nav{ .menu-index{@include flex-botones;}

                                        }           
                                }
                        }
                        main {
                            .contdiscos{
                                .disco-end-of-grey{
                                    width: 50%;
                                }
                            }
                        }
                    }





                }





}