@import"mixin/botones-flex";
@import"var/logo-var";
@import"extend/extend.scss";
/*...........html Historia...................*/
.historiaimg {
    background: rgb(0,0,0);
    background: linear-gradient(193deg, rgba(0,0,0,0.9196219486849648) 4%, rgba(11,12,25,1) 14%, rgba(9,10,20,1) 49%);
    margin-top: 5rem;
    header{
        .header-historia-mobile{
            nav{
            .historianav{
                .logochico{width:$logomobile;
                            }
                        }}
                                }
        .header-historia{display: none;}
    }     
    .main-historia{@extend %flexcolun;
        .h1-historia{@extend %flexcolun;
                    @extend %texto-historia;
            .intro-historia{display: none;
                margin:2rem 3rem;
                color:$color-principal-texto;
                font-size: 1.5rem; 
            }
            .intengrantes{@extend %texto-historia;
                      text-decoration: underline;
                      margin-bottom: 2rem;
                      color:$color-principal-texto}
            
                     }
        .contenedor{@extend %flexcolun;
            border-bottom: 3px solid $color-principal-texto;
            border-width: 2px;
           
            width: 80%;
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
            
            .contenedor-imagen-historia{width: 80%;
                border-radius: 2rem;
                box-shadow: 10px 10px 20px;
                border-color: aliceblue;}
            .parrafo-historia{@extend %texto-historia;
                              margin: 2rem 1.5rem ;
                              color:$color-principal-texto}
                    }
    }
}

@media screen and (min-width:768px){

    .historiaimg {
    
        margin-top: 3rem;
        header{
            .header-historia-mobile{display: none;}
            .header-historia{@include header-tablet;                   
                .logochico{width: $logotablet; }
                .menu-index{@include menu-tablet;
                    }            
            }
                                    
                        }
        .main-historia{
            .h1-historia{
                .intro-historia{display: block;}
            }
            .contenedor{
                .parrafo-historia{
                    font-size:1.5rem;
                    margin-left: 9rem;
                    margin-right: 8rem;
                }
                .contenedor-imagen-historia{
                    height: 500px;
                    width: 500px;
                }
            }
        }    
    }     

}




@media screen and (min-width:1024px){
    .historiaimg {
        margin-top: 0.5rem;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns:100%;
        grid-template-areas:
        "header-his header-his"
        "main-his main-his"
        "footer-his footer-his" ;
        header {
            .header-historia{@include header-nav;
                grid-area: header-his;
               
                .logochico{width:$logodestock;
                          padding-left:3rem;  }
                nav{
                    .menu-index{
                        @include flex-botones;
                        
                     
                
                    }
                }
            }

        }
        .main-historia{grid-area:main-his;
            
            
            .contenedor{flex-direction: row;
            align-items:center;
            justify-content: center;
            margin: 2rem;
            
            .contenedor-imagen-historia{
                height: 500px;
                width: 500px;
                
                
                                        }
            .parrafo-historia{
                width:40% ;
                height:100% ;
            }
            
            }


        }
        .footer-historia{
            grid-area:footer-his;
        }
    }
}
