@import"mixin/botones-flex";
@import"var/logo-var";
@import"extend/extend.scss";
/*...............html index.................*/

   .homepagina {
    margin-top: 5rem;
    background-image:url("../img/DD-Top-Banner-2016.jpg");
    height:100vh;
      .contenedor-padre{
            .head-index-grid{
               .header-index-mobile{
                              .container-fluid{
                                  .logochico{width:$logomobile ;}  
                                          }
                                    }      
               .header-index{display: none;}
                               }
            .section-index{
                  .titulo-index{
                        @extend %texto-historia;
                        color:rgba(166, 167, 145, 0.836);
                        text-decoration: underline;
                  font-size:1.5rem;
                  font-weight: 600;
                  text-align: center;
                  margin-bottom:1.5rem;
                 /*..........Animacion h1 cuando arranca pagina*/
                  animation-name:animacionh1;
                  animation-iteration-count: initial; /*cuantas veces se repetirá*/
                  animation-duration:4s;    /*la duración que tendrá*/ 
                                 } 
                  @keyframes animacionh1{   
                  0%    {    
                  transform: scale(0.8);
                        }
                  100%{    
                  transform: scale(1);
                    }                  }
                  }             
            .main-index{
                  display: flex;
                  flex-direction: column;
                  margin: 20px;
                  gap: 20px;
                .contenedor-imagen-index{
                  width:auto;
                  height: auto;
                  align-items: center;
                                      }
                .parrafo-index          {
                  color:rgba(175, 176, 161, 0.836);
                  @extend %texto-historia;
                  font-weight: 600;
                  text-decoration: underline;
                  margin-left: 10px;
                                       }
                    }                
                    
                                                                  }
   }

/*..........Media queries en tablet*................. */
@media screen and (min-width:768px){
      .homepagina{margin-top: 3rem;
            .contenedor-padre{
                  .head-index-grid{
                     .header-index-mobile{display: none;}
                     .header-index{@include header-tablet;
                              
                                  .logo{width:$logotablet ;}
                                  nav{ 
                                    .menu-index{
                                          @include menu-tablet;
                                                }
                                          }   
                                     }   
                                    }
                   .section-index{
                        .titulo-index{
                                    font-size: 3rem;
                        }

                                    }                 
                   .main-index{flex-direction: column;
                        justify-content: center;
                        align-items: center;
                               .contenedor-imagen-index{
                                    display: flex;
                                    width: 80%;
                                    
                               }

                              }           
                              }
            

            
            
      }

}                                                           

     /*..........Media queries en desktop*.................  */
        @media screen and (min-width:1024px){
   
            .homepagina{margin-top: 0.5rem;
               .contenedor-padre{
                              display: grid;
                              grid-template-rows:auto ; 
                              grid-template-columns:auto;
                              grid-template-areas: 
                              "header-home" 
                              "h1-home"     
                              "main-home"      
                              "footer-home"       ;
                             
                  .header-homee{
                        grid-area:header-home;
                        display: flex;
                        flex-direction:column;
                        align-items: center;
                         
                        .header-index{
                                       display: flex;
                                       flex-direction: row;
                                       justify-content: space-between;
                                    
                           .logo{width:$logodestock ;
                                padding-left: 2rem;}
                          nav{.menu-index{
                                     @include flex-botones; 
                                          
                                                      }

                                                            }                   
                                        }  
                                    
              
              
                              }
                  .main-homee{
                     grid-area:main-home;   
                     flex-direction: row-reverse;
                     align-items: start;
                           .contenedor-imagen-index{
                                 justify-self: start;
                                 width: 50%;
                                 height:50% ;
                                                   }
                            .parrafo-index{margin-bottom: 5rem;}                          }
                  .section-index { grid-area:h1-home;
                        
                        .titulo-index{ font-size: 1.5rem;
                                            }
                  }                                        
                    /*footer index*/
            .footer-homee{
                  grid-area:footer-home;
                  
                        }                               } 
                                          
                                          }  
         
             } 



         