
@import"extend/extend.scss";
@import"var/logo-var";
@import"mixin/botones-flex";

.recitalesimg {
  background: rgb(35,27,51);
  background: radial-gradient(circle, rgba(35,27,51,1) 67%, rgba(12,10,18,1) 97%);
  
  border-radius: 1rem;
  box-shadow: 10px 16px 40px;
         height: 100vh;
         margin-top:5rem ;
                
  .contenedor-padre-recitales{
    height:100vh;
    
      .header-recitales{
            .header-reci-mobile{
                nav{
                  .container-fluid{
                     .logochico{
                        width:$logomobile;} 
                        }
                          }}
            .header-reci{
                         display: none;
                            }

                 }


        .main-reci{
                @extend %flexcolun;
                    .h1-recital{ @extend %texto-historia; 
                      text-decoration: underline;
                      margin-bottom: 2rem;
                      color:rgb(255, 255, 255);
                      text-shadow: 0px 0px 9px #508AD3;
                      padding-left: 2.5rem;
                      padding-right: 2.5rem;}
                    .tabla-reci{ background-color: rgb(255, 255, 255);
                      padding: 2rem 0.7rem;
                      margin: 0.2rem;
                      border-radius: 2rem;
                      box-shadow: 7px 3px 9px #d0bbde;
                      padding-bottom:2rem ;
                          table{
                            
                            thead{
                              tr{@extend %texto-historia;
                                color: rgba(1, 0, 8, 0.677);
                                 font-size: 1.5rem;
                                 font-weight: 400; 
                                } }
                            tbody{ 
                                   tr{@extend %texto-historia;
                                    color: rgba(1, 0, 8, 0.677);
                                    font-weight: 400;
                                    font-size: 1.2rem; 
                                   }
                            }    
                          }
                    }           
                    .entradas-h2{@extend %texto-historia;
                                color:rgb(255, 255, 255);
                                font-weight: 100;
                                text-shadow: 0px 0px 9px #508AD3;
                                padding-left: 0.3rem;
                                padding-top: 1rem;
                                }            
                    }
            }
        }                    
    
        @media screen and (min-width:768px){
            .recitalesimg {margin-top: 3rem;
                .contenedor-padre-recitales{
                  
                    .header-recitales{
                        .header-reci-mobile{display: none;}

                      .header-reci{
                            @include header-tablet;
                            
                           nav{
                               .menu-recital{
                                          @include menu-tablet;
                                        }}
                           .logochico{width:$logotablet;
                                    }
                                }  }
                    .main-reci{
                      .entradas-h2{
                        
                        text-shadow: 2px 2px 2px;
                        
                        margin-top: 2rem;
                      }
                    }              



               
               
                 }
            }


    }   
             





             @media screen and (min-width:1024px){
                /*..........Estructura html recitales con grid desktop*/
                .recitalesimg {margin-top: 0.5rem;
                        .contenedor-padre-recitales{
                        
                        display: grid;
                        grid-template-rows:auto; 
                        grid-template-columns:auto;
                        grid-template-areas: 
                        "header-re header-re"
                        "main-re main-re"
                        "section-re section-re"
                        "footerr-re footerr-re";
                           .header-recitales{
                                

                              .header-reci{
                                    @include header-nav;
                                    grid-area: header-re;
                                   nav{
                                       .menu-recital{
                                                  @include flex-botones;
                                                }}
                                   .logochico{width:$logodestock;
                                            padding-left: 3rem;}
                                        }  
                                            }
                            .main-reci{grid-area: main-re;
                              .entradas-h2{
                                
                                text-shadow: 2px 2px 2px;
                              }
                            }
                            .section-reci{grid-area: section-re;}
                            .footer-reci{grid-area: footerr-re;}
                       }
                    }
                 }