
@import"extend/extend.scss";
@import"var/logo-var";
@import"mixin/botones-flex";

.recitalesimg {
         background-image: url(../img/recitales.jpg);
         background-size: cover;
         height: 100vh;
                 
  .contenedor-padre-recitales{
    height:100vh;
    margin-top:6rem ;
      .header-recitales{
            .header-reci-mobile{
                nav{
                  .container-fluid{
                     .logochico{
                        width:$logomobile;} 
                        }
                          }}
            .header-reci{
                         display: none;
                            }

                 }


        .main-reci{
                @extend %flexcolun;
                    .h1-recital{padding-left: 2.5rem;
                                padding-right: 2.5rem;}
                               
                    .entradas-h2{
                                color: aliceblue;
                                padding-left: 0.3rem;
                                }            
                    }
            }
        }                    
    
        @media screen and (min-width:768px){
            .recitalesimg {
                .contenedor-padre-recitales{
                    margin-top: 3rem;
                    .header-recitales{
                        .header-reci-mobile{display: none;}

                      .header-reci{
                            @include header-tablet;
                            
                           nav{
                               .menu-recital{
                                          @include menu-tablet;
                                        }}
                           .logochico{width:$logotablet;
                                    }
                                }  
                                    }



               
               
                 }
            }


    }   
             





             @media screen and (min-width:1024px){
                /*..........Estructura html recitales con grid desktop*/
                .recitalesimg {
                        .contenedor-padre-recitales{
                        
                        display: grid;
                        grid-template-rows:auto; 
                        grid-template-columns:auto;
                        grid-template-areas: 
                        "header-re header-re"
                        "main-re main-re"
                        "section-re section-re"
                        "footerr-re footerr-re";
                           .header-recitales{
                                

                              .header-reci{
                                    @include header-nav;
                                    grid-area: header-re;
                                   nav{
                                       .menu-recital{
                                                  @include flex-botones;
                                                }}
                                   .logochico{width:$logodestock;
                                            padding-left: 3rem;}
                                        }  
                                            }
                            .main-reci{grid-area: main-re;}
                            .section-reci{grid-area: section-re;}
                            .footer-reci{grid-area: footerr-re;}
                       }
                    }
                 }