@import"mixin/botones-flex";
@import"var/logo-var";
@import"extend/extend.scss";
.videosimg {
    background: rgb(30,25,41);
background: linear-gradient(180deg, rgba(30,25,41,1) 12%, rgba(43,35,62,1) 31%, rgba(63,52,77,1) 77%);

    margin-top: 5rem;
    header{
        .header-index-mobile{
            nav{
                .container-fluid{
                    .logochico{width:$logomobile ;}
                }
            }
        }
        .header-videos{
            display: none;
                     }

    }
    .main-videos{
        .barra{border-bottom: 3px solid $color-principal-texto;
                border-width: 2px;
                width: 80%;
                margin-bottom: 2rem;
                margin-top: 2rem;
                margin-left: auto;
                margin-right: auto;}
        .videos-contenedor{
            @extend %flexcolun;
            
            
            .h1-videos{
                @extend %texto-historia;
                color:$color-principal-texto;
                text-decoration: underline;
                font-size: 2rem;
                    
            }
            .h2-intro-videos{
                @extend %texto-historia;
                margin:2rem 3rem;
                color:$color-principal-texto;
                font-size: 1.3rem;
            }
            .h2-recital{
                @extend %texto-historia;
                color:$color-principal-texto;
                
                font-size: 1.5rem;
                
            }
            .contenedor-video{
                display: flex;
                justify-content: center;
                align-items: center;
                
                position: relative;
                
                height: 0;
                padding-bottom: 56.25%;
                width: 100%;
                box-sizing: border-box;
                .video{
                border-radius: 1rem;
                box-shadow: 10px 16px 40px;
               
               
                    
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    width: 90%;
                    height: 90%;
                }
            }
        }
    }
          } 

          @media screen and (min-width:768px){

            .videosimg {
                         margin-top: 3rem;
                header{
                    .header-index-mobile{display: none;}
                    .header-videos{
                                    @include header-tablet;
                                    .logochico{width:$logotablet ;}
                                    .menu-index{@include menu-tablet}
                                 }
            
                }

                .main-videos{
                    .videos-contenedor{
                        .contenedor-video{
                            .video{
                                position: absolute;
                                top: 2rem;
                                left: 2.5rem;
                            }
                        }
                    }
                }
          }

        }


          @media screen and (min-width:1024px){
            .videosimg{margin-top: 0.5rem;
                        display: grid;
                        grid-template-columns: auto;
                        grid-template-rows: auto;
                        grid-template-areas:"header-v"
                                            "main-v"
                                            "footer-v" ;
                header{
                    .header-videos{@include header-nav;
                                    grid-area: header-v;
                                    .logochico{width:$logodestock;
                                        padding-left: 3rem;
                                        
                                    }
                        nav{
                            .menu-index{
                                @include flex-botones;
                            }
                        }
                    }
                }
            
                .main-videos{
                    grid-area: main-v;
                    
                    
                    
                   
                    
                    .videos-contenedor{
                        justify-content: center;
                        align-items: center;
                        .contenedor-video{
                            .video{
                                position: absolute;
                                top: 2rem;
                                left: 3.2rem;
                            }
                        }

                    }


                }
            }

            .footer-videos{
                grid-area: footer-v;
                margin-top: 10rem;
            }
            


          }