/*..........Reset..................................*/
*{
    margin:0; 
    padding:0;
    box-sizing:border-box;
}
@import "home.scss";
@import"footer";
@import "historia";
@import "recitales";
@import "videos";
@import "discografia";
@import "animacion-nav";