//para flex
%flexcolun{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
}
%texto-historia{
    font-family: 'Shadows Into Light', cursive;
}